@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply !bg-transparent;
  }
  body {
    @apply flex border-2 border-red-600;
  }
  pre {
    @apply overflow-x-auto rounded-md bg-base-200 text-black scrollbar-thin scrollbar-thumb-gray-300 scrollbar-thumb-rounded;
  }
}

@layer components {
  #app {
    @apply flex flex-1 flex-row p-2;
  }

  .flex-r-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
#app {
  height: 100%;
}

pre {
  display: block;
  background-color: #f3f3f3;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
}
pre {
  background-color: #1d242f !important;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
pre > code {
  border: 0px !important;
  background-color: #1d242f !important;
  color: #fff;
  /* 代码换行 */
  white-space: pre-wrap;
}
code {
  display: inline-block;
  background-color: #f3f3f3;
  border: 1px solid #fdb9cc;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color: #4f4f4f;
  margin: 0px 3px;
}

/* PetDetail里使用到的样式 */
.upload-container {
  position: relative;
  /* 其他样式 */
}

.dragover-border {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px dashed #29b9b9;
  z-index: 999;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #121212;
  color: #e1e1e1;
  pointer-events: none;
}

.upload-container.dragover .dragover-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ChatFooter的样式 */
.footer-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.footer-first-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#gradient-horizontal {
  --color-stop-1: rgb(96, 96, 96, 1);
  animation: colorFlow 2s ease-in-out infinite;
}

@keyframes colorFlow {
  from {
    --color-stop-1: rgb(96, 96, 96, 1);
    transform: translate(0%);
  }
  to {
    --color-stop-1: #309aa9ff;
    transform: translate(100%);
  }
}
